<div *ngIf="isGettingData">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="posts.length>0">
  <ul class="collection">
    <li class="collection-item avatar" *ngFor="let post of posts">
      <img src="https://udemy-images.udemy.com/course/750x422/719002_af70_2.jpg" alt="" class="circle">
      <span class="title">{{post.title}}</span>
      <p style="margin-right: 30px; text-align: justify;"> {{post.body}} </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
</ul>
</div>